@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.rancho-font {
    font-family: "Rancho", serif;
    font-weight: 600;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.text-outline {
    text-shadow:
        -2px -2px 0 #fffbfb,
        2px -2px 0 #ededed,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff;
}

